<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roywang.plans2nite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".PlanPageActivity" />
        <activity android:name=".FavListViewActivity" />
        <activity android:name=".FavPlanPageActivity" />
        <activity android:name=".UpcomingPlanListActivity" />
        <activity android:name=".PastPlanListActivity" />
        <activity android:name=".UpcomingPlanPageActivity" />
        <activity android:name=".PastPlanPageActivity" />
        <activity android:name=".ReviewPageActivity" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>